@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-inter: var(--font-inter);
  --font-fira: var(--font-fira);

  --font-sans: var(--font-inter);
  --font-mono: var(--font-fira)
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility text-outline-white {
  -webkit-text-stroke: 1px white;
}

@utility text-outline-shadow {
  text-shadow: 
    -1px -1px 0 white,  
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
}

body {
  background: var(--background);
  color: var(--foreground);
}
